body {
    //padding: $body-padding;
    height: 100vh;
    background-attachment: fixed;
    background: linear-gradient(#1C9CF6, #19C3FB);
    background-repeat: no-repeat;
    background-size: cover;
}

.App {
    padding: 1rem;
}