$body-padding: 1rem;

$font-color: #FFFFFF;
$form-font-size-mobile: 1.2rem;

$tablet-screen: 768px;
$max-tablet-width: 768px;

@mixin formBGColor ($opacity: 1) {
    background-color: rgba(255, 255, 255, $opacity);
}

@mixin containerStyle {
    padding: 1rem;
    color: $font-color;
    background-color: rgba(255, 255, 255, .2);
}

@mixin verticalWeatherList {
    li {
        position: relative;
        display: flex;
        justify-content: space-between;

        &:not(:first-child) {
            margin-top: .2rem;
        }

        &:not(:last-child) {
            margin-bottom: .2rem;
            border-bottom: solid rgba(255, 255, 255, .3) 1px;
        }

        img {
            height: 1rem;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }
    }
}