@import './globals/variables';

header {
    @include containerStyle;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-weight: 500;
        margin-bottom: 1rem;
    }
}